<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.dao.CourseDao">

	<resultMap id="courseMap" type="Course">
		<id property="cosId" column="cos_id"/>
		<result property="cosName" column="cos_name"/>
		<result property="cosTch" column="cos_tch"/>
		<result property="cosAll" column="cos_all"/>
		<result property="cosNow" column="cos_now"/>
		<result property="cosDcp" column="cos_dcp"/>
		<result property="cosFile" column="cos_file"/>
		<result property="cosTchName" column="tch_name"/>
	</resultMap>

	<select id="selectAllCourses" resultType="arraylist" resultMap="courseMap">
		select cos_id, cos_name, cos_all, cos_now, cos_tch, cos_dcp, cos_file, tch_name
		from tb_course c
		left join tb_teacher t
		on c.cos_tch = t.tch_id
	</select>

	<select id="selectSelectedCourses" resultType="arraylist" resultMap="courseMap" parameterType="int">
		select cos_id, cos_name, cos_all, cos_now, cos_tch, cos_dcp, cos_file, tch_name
		from tb_section s
		left join tb_course c
		on s.sec_cos=c.cos_id
		left join tb_teacher t
		on c.cos_tch=t.tch_id
		where sec_stu=#{stuId};
	</select>
	<select id="selectCourseById" resultType="Course" resultMap="courseMap" parameterType="int">
		select cos_id, cos_name, cos_all, cos_now, cos_tch, cos_dcp, cos_file, tch_name
		from tb_course c
		left join tb_teacher t
		on c.cos_tch=t.tch_id
		where c.cos_id=#{cosId}
	</select>

</mapper>

